footer {
  background-color: #1e1e1e;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}

.footer-div3 > .list1 > ul > li > a > .facebook {
  width: 20px;
}

.footer-div3 > .list1 > ul > li > a > .logo {
  width: 30px;
}

footer > div > ul {
  display: flex;
  gap: 1rem;
}

.footer-div3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.list1 > ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.list2 > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.list2 > ul > li > a > img {
  width: 130px;
}

.list2 > ul > li > a > .windows {
  width: 110px;
  border: 1px solid;
  border-radius: 8px;
}


@media (max-width: 715px) {

  footer{
    gap:2rem;
  }
  .footer-div1 > ul > li > a {
    font-size: 10px;
  }

  .footer-div3 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
  }

  .list2 > ul > li > a > img {
    width: 100px;
  }
}